* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: large;
}

.background_img {
    position: relative;
}

.wrapper {
    position: absolute;
    top: 225px;
    right: 50px;
    background-color: antiquewhite;
    padding: 35px 35px 0 35px;
}

.price_list {
    padding-top: 20px;
}

.bronze {
    padding: 10px 0 10px 0;
}

.silver {
    padding-bottom: 10px;
}

h1 {
    color: darkviolet;
}

.socials {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

footer {
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.tel {
    padding-right: 15px;
}